@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: rgb(33, 32, 32);
}

button {
  cursor: pointer;
}
